{{> header}}
<body>
{{> primaryNav}}

  <header class="masthead2 text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Applications.</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form method="get" action="/application">
            <div class="form-row">
          <div class="col-12">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <label style="color: black;">NEF Funding.</label>
                </li>            
              </ul>
          </div>
          
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

{{!-- <div class="card text-center">

  <div class="card-body">
    <h5 class="card-title">Choose your prefered funding type.</h5>
    <a href="#" class="btn btn-primary">Govenment Funding</a>
        <a href="#" class="btn btn-primary">Cormecial Banks Funding</a>
  </div>
</div> --}}


</body>
  {{> footer}}
