{{> header}}
<body>
{{> primaryNav}}

  <header class="masthead2 text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Government Funding.</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form method="get" action="/application">
            <div class="form-row">
          <div class="col-12">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <h4 style="color: black;">National Employment Fund (NEF)</h3>
                  <button class="btn btn-block btn-lg btn-primary" style="width: 100px;" role="button">Apply</button>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h4 style="color: black;">Industrial Development Coorporation (IDC)</h3>
                  <button class="btn btn-block btn-lg btn-primary" style="width: 100px;" role="button">Apply</button>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h4 style="color: black;"> Small Enterprise Financing Agency (SEFA)</h3>
                  <button class="btn btn-block btn-lg btn-primary" style="width: 100px;"role="button">Apply</button>
                </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h4 style="color: black;"> KZN Growth Fund</h3>
                  <button class="btn btn-block btn-lg btn-primary" style="width: 100px;" role="button">Apply</button>
                </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h4 style="color: black;"> IsiVande Women's Fund</h3>
                  <button class="btn btn-block btn-lg btn-primary" style="width: 100px;" role="button">Apply</button>
                </li>
              </ul>
              </div>
          
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

{{!-- <div class="card text-center">

  <div class="card-body">
    <h5 class="card-title">Choose your prefered funding type.</h5>
    <a href="#" class="btn btn-primary">Govenment Funding</a>
        <a href="#" class="btn btn-primary">Cormecial Banks Funding</a>
  </div>
</div> --}}


</body>
  {{> footer}}
