{{> header}}
<body>
{{> primaryNav}}

  <header class="masthead2 text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Choose your prefered funding type.</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              {{!-- <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
              </div> --}} 
              <div class="col-12">
                <a  style="width: 300px;" class="btn  btn-lg btn-primary" href="#" role="button">Cormecial Funding</a>
                <a  style="width: 300px;" class="btn  btn-lg btn-primary" href="/government" role="button">Government Funding</a>
              </div>
          
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

{{!-- <div class="card text-center">

  <div class="card-body">
    <h5 class="card-title">Choose your prefered funding type.</h5>
    <a href="#" class="btn btn-primary">Govenment Funding</a>
        <a href="#" class="btn btn-primary">Cormecial Banks Funding</a>
  </div>
</div> --}}


</body>
  {{> footer}}
