{{> header}}
<body>

{{> navigation}}

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-wallet m-auto text-primary"></i>
            </div>
            <h3>Funding Application</h3>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-notebook m-auto text-primary"></i>
            </div>
            <h3>Find Land</h3>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-support m-auto text-primary"></i>
            </div>
            <h3>Rent Machinery</h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
     <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('image/land.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Find Land</h2>
          <p class="lead mb-0">Easily search for your next dream land with our easy online search feature</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('image/funding.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Funding Application</h2>
          <p class="lead mb-0">With our central online application system, applying for funding has never been this simple.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('image/machinery.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Rent Machinery</h2>
          <p class="lead mb-0">Want to rent equipment? look no further Farmers Assistant has got you!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
              </div>
              <div class="col-12 col-md-3">
                <a class="btn btn-block btn-lg btn-primary" href="/register" role="button">Sign up!</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
  {{> footer}}
