{{> header}}
<body>
{{> primaryNav}}

  <header class="masthead2 text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Messages.</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form method="get" action="/application">
            <div class="form-row">
          <div class="col-12">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="#">James Farmer assistant consultant type funding</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="#">Sipho Farmer assistant consultant NEF bridge financing</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="#">Farmer Assistant new Government funding oppotunity</a>

                </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="#">New drought insurance product, for small scale farmers: Nedbank</a>
                </li>
              
              </ul>
              </div>
          
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
</body>
  {{> footer}}
