{{> header}}
<body>
{{> primaryNav}}

  <header class="masthead2 text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5"> Complete the form below (4/5).</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form class="form-signin" action="/stepFive" method="get">
                     <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                        <label>Application Form</label>
                        <input type="file" id="image" name="image" accept="image/*" class="form-control form-control-user" >
                        </div>
                        <div class="col-sm-6">
                        <label>Business Plan</label>
                        <input type="file" id="image" name="image" accept="image/*" class="form-control form-control-user" >
                        </div>
                     </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                        <label>Three Year Audited Financials</label>
                        <input type="file" id="image" name="image" accept="image/*" class="form-control form-control-user" >
                        </div>
                        <div class="col-sm-6">
                        <label>Proof Of Residence</label>
                        <input type="file" id="image" name="image" accept="image/*" class="form-control form-control-user" >
                        </div>
                     </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                        <label>Certified ID Copy</label>
                        <input type="file" id="image" name="image" accept="image/*" class="form-control form-control-user" >
                        </div>
                        <div class="col-sm-6">
                        <label>Business Bank Statement</label>
                        <input type="file" id="image" name="image" accept="image/*" class="form-control form-control-user" >
                        </div>
                     </div>
                
                   <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                        <label>Business Tax Certificate</label>
                        <input type="file" id="image" name="image" accept="image/*" class="form-control form-control-user" >
                        </div>
                        <div class="col-sm-6">
                        <label>BEE Certificate</label>
                        <input type="file" id="image" name="image" accept="image/*" class="form-control form-control-user" >
                        </div>
                     </div>


                   <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                        <label>Climate Data</label>
                        <input type="file" id="image" name="image" accept="image/*" class="form-control form-control-user" >
                        </div>
                        <div class="col-sm-6">
                          <a href="#" class="btn btn-info btn-block">
          <span class="glyphicon glyphicon-shopping-cart"></span> Buy Climate Data
        </a>
                        </div>
                     </div>
               
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                        <label>Weather Data</label>
                        <input type="file" id="image" name="image" accept="image/*" class="form-control form-control-user" >
                        </div>
                        <div class="col-sm-6">
                         <a href="#" class="btn btn-info btn-block">
          <span class="glyphicon glyphicon-shopping-cart"></span> Buy Wather Data
        </a>
                        </div>
                     </div>

                 </br>
                   </br>
                 <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                          <button class="btn btn-primary btn-user btn-block" type="submit">Save</button>
                        </div>
                        <div class="col-sm-6">
                          <button class="btn btn-primary btn-user btn-block" type="submit">Next</button>
                        </div>
                     </div>
                     <hr>
                  </form>
        </div>
      </div>
    </div>
  </header>
    
{{!-- <div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Choose your prefered funding type.</h5>
    <a href="#" class="btn btn-primary">Govenment Funding</a>
        <a href="#" class="btn btn-primary">Cormecial Banks Funding</a>
  </div>
</div> --}}
</body>
  {{> footer}}
